{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}

{% block page_product_detail_price_inner %}
    {{ parent() }}

    {% if page.product.extensions.product_with_retail_price %}
        {% set product_with_retail_price = page.product.extensions.product_with_retail_price %}
        <h3 class="srp-product-block-title">{{ "detail.buyWidgetTitle"|trans|sw_sanitize }}:</h3>
        {% if product_with_retail_price.calculatedPrices|length > 1 %}
            <div class="product-block-prices">
                <table class="table table-sm table-bordered product-block-prices-table">
                    <thead class="product-block-prices-head">
                        <tr class="product-block-prices-row">
                            <th scope="col" class="product-block-prices-cell">
                                {{ "detail.dataColumnQuantity"|trans|sw_sanitize }}
                            </th>
                            <th scope="col" class="product-block-prices-cell">
                                {{ "detail.dataColumnPrice"|trans|sw_sanitize }}
                            </th>
                            {% if product_with_retail_price.calculatedPrice.referencePrice %}
                                <th scope="col" class="product-block-prices-cell">
                                    {{ "detail.dataColumnReferencePrice"|trans|sw_sanitize }}
                                </th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody class="product-block-prices-body">
                        {% for price in product_with_retail_price.calculatedPrices %}
                            <tr class="product-block-prices-row"
                                itemprop="offers" itemscope
                                itemtype="https://schema.org/Offer">

                                <th scope="row" class="product-block-prices-cell">
                                    <meta itemprop="priceCurrency" content="{{ page.header.activeCurrency.id }}" />
                                    <meta itemprop="price" content="{{ price.unitPrice }}" />
                                    <link itemprop="availability" href="https://schema.org/InStock" />

                                    {% if loop.last %}
                                        {{ "detail.priceDataInfoFrom"|trans|sw_sanitize }}
                                        <span class="product-block-prices-quantity">{{ price.quantity }}</span>

                                    {% else %}
                                        {{ "detail.priceDataInfoUntil"|trans|sw_sanitize }}
                                        <span class="product-block-prices-quantity">{{ price.quantity }}</span>
                                    {% endif %}
                                </th>

                                <td class="product-block-prices-cell">
                                    {% sw_include '@Storefront/storefront/component/product/block-price.html.twig' with {
                                        price: price
                                    } only %}
                                </td>

                                {% if price.referencePrice is not null %}
                                    <td class="product-block-prices-cell">
                                        {{ price.referencePrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} / {{ price.referencePrice.referenceUnit }} {{ price.referencePrice.unitName }}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% set price = product_with_retail_price.calculatedPrice %}

            {% if product_with_retail_price.calculatedPrices|length == 1 %}
                {% set price = product_with_retail_price.calculatedPrices.first %}
            {% endif %}

            <meta itemprop="price"
                  content="{{ price.unitPrice }}">

                {% set listPrice = price.listPrice %}

                <p class="product-detail-price{% if listPrice.percentage > 0 %} with-list-price{% endif %}">
                    {{ price.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
                </p>

                {% if listPrice.percentage > 0 %}
                    <span class="list-price-badge">&#37;</span>

                    <span class="product-detail-list-price-wrapper">
                        {{"listing.beforeListPrice"|trans|trim}}
                        <span {% if not ("listing.beforeListPrice"|trans|length > 0 or "listing.afterListPrice"|trans|length > 0) %}class="list-price-price"{% endif %}>
                            {{ listPrice.price|currency }}{{ "general.star"|trans|sw_sanitize }}
                        </span>
                            {{"listing.afterListPrice"|trans|trim}}
                        <span class="list-price-percentage">{{ "detail.listPricePercentage"|trans({'%price%': listPrice.percentage })|sw_sanitize }}</span>
                    </span>
                {% endif %}

            {% if product_with_retail_price.purchaseUnit %}
                <div class="product-detail-price-unit">
                    <span class="price-unit-label">
                        {{ "detail.priceUnitName"|trans|sw_sanitize }}
                    </span>

                    <span class="price-unit-content">
                        {{ product_with_retail_price.purchaseUnit }} {{ product_with_retail_price.unit.name }}
                    </span>

                    {% if price.referencePrice is not null %}
                        <span class="price-unit-reference-content">
                            ({{ price.referencePrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} / {{ price.referencePrice.referenceUnit }} {{ price.referencePrice.unitName }})
                        </span>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
